octonode_flow.txt
[{"id":"5658c3d7.badd6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e267d1b.cce9e","type":"change","z":"5658c3d7.badd6c","name":"Printer Printhead","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/printer/printhead?apikey=387F1F7C8C5C41E085697AC9C78DFF2C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1020,"wires":[["6c5dd9b2.3531c8"]]},{"id":"6c5dd9b2.3531c8","type":"http request","z":"5658c3d7.badd6c","name":"Post","method":"POST","ret":"txt","url":"","tls":"","x":570,"y":1020,"wires":[[]]},{"id":"d7476006.b4f76","type":"debug","z":"5658c3d7.badd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1280,"wires":[]},{"id":"d27e75f.1969188","type":"json","z":"5658c3d7.badd6c","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1020,"wires":[["8e267d1b.cce9e"]]},{"id":"774f320b.d5602c","type":"change","z":"5658c3d7.badd6c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/printer?apikey=387F1F7C8C5C41E085697AC9C78DFF2C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":480,"wires":[["8707b6ab.20ea18"]]},{"id":"8707b6ab.20ea18","type":"http request","z":"5658c3d7.badd6c","name":"","method":"GET","ret":"txt","url":"","x":430,"y":480,"wires":[["d7156824.6d1768"]]},{"id":"d7156824.6d1768","type":"json","z":"5658c3d7.badd6c","name":"","property":"payload","action":"","pretty":false,"x":590,"y":480,"wires":[["a18a5266.ee46","c29890ec.2334b","143eb7c.5d79648","c5120bc7.5b22a8","d489cb52.6d73a8","2e68fc55.3c1d94"]]},{"id":"f29a6f7b.09588","type":"ui_switch","z":"5658c3d7.badd6c","name":"","label":"Operational","group":"542628fc.15dd88","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":580,"wires":[[]]},{"id":"a18a5266.ee46","type":"function","z":"5658c3d7.badd6c","name":"Operation","func":"var msg = {payload: msg.payload.state.flags.operational};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["f29a6f7b.09588"]]},{"id":"c29890ec.2334b","type":"function","z":"5658c3d7.badd6c","name":"Printing","func":"var msg = {payload: msg.payload.state.flags.printing};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":620,"wires":[["ac6bf733.5bca18"]]},{"id":"ac6bf733.5bca18","type":"ui_switch","z":"5658c3d7.badd6c","name":"","label":"Printing","group":"542628fc.15dd88","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":960,"y":620,"wires":[[]]},{"id":"fda13954.351af8","type":"ui_gauge","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":12,"width":"3","height":"3","gtype":"gage","title":"Heatbed","label":"","format":"{{value}}°C","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":660,"wires":[]},{"id":"143eb7c.5d79648","type":"function","z":"5658c3d7.badd6c","name":"Heatbed","func":"var msg = {payload: msg.payload.temperature.bed.actual};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":660,"wires":[["fda13954.351af8","1856c26.3955f3e"]]},{"id":"c5120bc7.5b22a8","type":"function","z":"5658c3d7.badd6c","name":"Nozzle","func":"var msg = {payload: msg.payload.temperature.tool0.actual};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["7a730e22.9d20c","a2cd28f7.254138"]]},{"id":"7a730e22.9d20c","type":"ui_gauge","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":11,"width":"3","height":"3","gtype":"gage","title":"Nozzle","label":"","format":"{{value}}°C","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":700,"wires":[]},{"id":"cae3e0e5.b234d","type":"interval","z":"5658c3d7.badd6c","name":"interval","interval":"5","onstart":true,"msg":"ping","showstatus":true,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":70,"y":480,"wires":[["774f320b.d5602c","70b1ce88.74811"]]},{"id":"66eb1db5.08b224","type":"ui_template","z":"5658c3d7.badd6c","group":"a00c2542.2f70a8","name":"Livecam CR-10","order":3,"width":"6","height":"5","format":"<img width=\"16\" height=\"16\" src=\"http://192.168.0.180/webcam/?action=stream\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":820,"wires":[[]]},{"id":"15f44779.0b1cb9","type":"ui_button","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":7,"width":"3","height":"1","passthru":false,"label":"Home XY","color":"","bgcolor":"","icon":"","payload":"{   \"command\": \"home\",   \"axes\": [\"x\", \"y\"] }","payloadType":"str","topic":"","x":80,"y":1020,"wires":[["d27e75f.1969188"]]},{"id":"623ba6e7.b4ca58","type":"ui_button","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":8,"width":"3","height":"1","passthru":false,"label":"Home Z","color":"","bgcolor":"","icon":"","payload":"{   \"command\": \"home\",   \"axes\": [\"z\"] }","payloadType":"str","topic":"","x":80,"y":1060,"wires":[["d27e75f.1969188"]]},{"id":"f9dd331a.b11e3","type":"ui_button","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":5,"width":"3","height":"1","passthru":false,"label":"Preheat","color":"black","bgcolor":"yellow","icon":"","payload":"{   \"command\": \"target\",   \"target\": 60 }","payloadType":"str","topic":"","x":80,"y":1140,"wires":[["1125d8.e5820a28"]]},{"id":"22b1f29b.ae747e","type":"change","z":"5658c3d7.badd6c","name":"Printer Bed","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/printer/bed?apikey=387F1F7C8C5C41E085697AC9C78DFF2C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1140,"wires":[["6c5dd9b2.3531c8"]]},{"id":"175e1121.708b9f","type":"ui_button","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":6,"width":"3","height":"1","passthru":false,"label":"Cooldown","color":"black","bgcolor":"green","icon":"","payload":"{   \"command\": \"target\",   \"target\": 0 }","payloadType":"str","topic":"","x":80,"y":1180,"wires":[["1125d8.e5820a28"]]},{"id":"1125d8.e5820a28","type":"json","z":"5658c3d7.badd6c","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1140,"wires":[["22b1f29b.ae747e"]]},{"id":"ca4751ee.2aa07","type":"ui_button","z":"5658c3d7.badd6c","name":"Parking","group":"542628fc.15dd88","order":9,"width":"3","height":"1","passthru":false,"label":"Park Head","color":"white","bgcolor":"red","icon":"","payload":"{  \"command\": \"jog\",   \"x\": 150,   \"y\": 150,   \"z\": 150,  \"speed\": 1000}","payloadType":"str","topic":"","x":80,"y":1100,"wires":[["d27e75f.1969188"]]},{"id":"3c271991.f07346","type":"ui_chart","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":13,"width":"9","height":"4","label":"Temperaturen","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":980,"y":740,"wires":[[],[]]},{"id":"1856c26.3955f3e","type":"change","z":"5658c3d7.badd6c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Heatbed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":740,"wires":[["3c271991.f07346"]]},{"id":"a2cd28f7.254138","type":"change","z":"5658c3d7.badd6c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Nozzle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":780,"wires":[["3c271991.f07346"]]},{"id":"bb981664.b385f8","type":"change","z":"5658c3d7.badd6c","name":"Printer command","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/command?apikey=387F1F7C8C5C41E085697AC9C78DFF2C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1220,"wires":[["6c5dd9b2.3531c8"]]},{"id":"26b3d87e.89e818","type":"ui_form","z":"5658c3d7.badd6c","name":"","label":"","group":"542628fc.15dd88","order":14,"width":0,"height":0,"options":[{"label":"gcode","value":"command","type":"text","required":true}],"formValue":{"command":""},"payload":"","submit":"Send","cancel":"Clear","topic":"msg.command","x":70,"y":1220,"wires":[["fc7b3eac.54a2f"]]},{"id":"9ecb71e3.9a129","type":"change","z":"5658c3d7.badd6c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/job?apikey=387F1F7C8C5C41E085697AC9C78DFF2C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["124c1a41.5cef76"]]},{"id":"124c1a41.5cef76","type":"http request","z":"5658c3d7.badd6c","name":"","method":"GET","ret":"txt","url":"","x":610,"y":100,"wires":[["5d596462.facecc"]]},{"id":"70b1ce88.74811","type":"delay","z":"5658c3d7.badd6c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":100,"wires":[["9ecb71e3.9a129"]]},{"id":"5d596462.facecc","type":"json","z":"5658c3d7.badd6c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":100,"wires":[["f881fc09.135a8","37be3ac3.3931c6"]]},{"id":"b215267b.3905a8","type":"ui_text","z":"5658c3d7.badd6c","group":"542628fc.15dd88","order":2,"width":"9","height":"1","name":"","label":"Dateiname:","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":160,"wires":[]},{"id":"f881fc09.135a8","type":"function","z":"5658c3d7.badd6c","name":"File","func":"var msg = {payload: msg.payload.job.file.name};\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["b215267b.3905a8"]]},{"id":"37be3ac3.3931c6","type":"function","z":"5658c3d7.badd6c","name":"Progress","func":"var msg = {payload: msg.payload.progress.completion};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":200,"wires":[["b86e7978.d7f148"]]},{"id":"b0878fa0.6017a","type":"ui_slider","z":"5658c3d7.badd6c","name":"","label":"Progress","group":"542628fc.15dd88","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1160,"y":200,"wires":[[]]},{"id":"d489cb52.6d73a8","type":"debug","z":"5658c3d7.badd6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":480,"wires":[]},{"id":"2e68fc55.3c1d94","type":"ui_text","z":"5658c3d7.badd6c","group":"542628fc.15dd88","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload.state.text}}","layout":"row-left","x":960,"y":540,"wires":[]},{"id":"b86e7978.d7f148","type":"string","z":"5658c3d7.badd6c","name":"","methods":[{"name":"toInteger","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1010,"y":200,"wires":[["b0878fa0.6017a","2bf6beab.39a782","c47c6e96.4fad6"]]},{"id":"2bf6beab.39a782","type":"debug","z":"5658c3d7.badd6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"c47c6e96.4fad6","type":"ui_gauge","z":"5658c3d7.badd6c","name":"","group":"542628fc.15dd88","order":0,"width":"3","height":"3","gtype":"donut","title":"Progress","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#0080ff","#0080ff","#00ff40"],"seg1":"","seg2":"","x":1160,"y":280,"wires":[]},{"id":"fc7b3eac.54a2f","type":"json","z":"5658c3d7.badd6c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":1220,"wires":[["d7476006.b4f76","bb981664.b385f8"]]},{"id":"542628fc.15dd88","type":"ui_group","z":"","name":"CR-10","tab":"81b8826d.f1474","order":1,"disp":true,"width":"9","collapse":false},{"id":"a00c2542.2f70a8","type":"ui_group","z":"","name":"LiveStream","tab":"81b8826d.f1474","order":2,"disp":true,"width":"6","collapse":false},{"id":"81b8826d.f1474","type":"ui_tab","z":"","name":"Printer Control","icon":"dashboard","order":15}]
